---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---

<Layout>
    <h2>Adelie Penguins</h2>
    <GraphicSpecies species="Adelie" />
</Layout>
