---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---

<Layout>
    <h2>Chinstrap Penguins</h2>
    <GraphicSpecies species="Chinstrap" />
</Layout>
