---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---

<Layout>
    <h2>Gentoo Penguins</h2>
    <GraphicSpecies species="Gentoo" />
</Layout>
